{
    "host": "your.jenkins.domain",
    "username": "jenkins",
    "password": "jenkins",
    "jobs": [
       {
           "testJob": "your-app-mock-tests",
           "productJob": "your-app"
       }
   ]
}